html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.movies-wrapper{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1.5rem;
    width: 90%;
    height: 15rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    align-items: center;
}