* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #000;
  position: relative;
}

.slider {
  list-style-type: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  z-index: 1;
}

.slider .item:nth-child(1),
.slider .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slider .item:nth-child(3) {
  left: 50%;
}

.slider .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slider .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slider .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #fff;
  transform: translateY(-50%);
  display: none;
  font-family: system-ui, -apple-system, sans-serif;
}

.slider .item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}

.slider .item:nth-child(2) .title,
.slider .item:nth-child(2) .description,
.slider .item:nth-child(2) button {
  opacity: 0;
  animation: show-content 1s ease-in-out 1 forwards;
}

.item .title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.item .description {
  margin-bottom: 20px;
}

.item button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 5px;
}

.slider .item:nth-child(2) .title {
  animation-delay: 0.2s;
}
.slider .item:nth-child(2) .description {
  animation-delay: 0.4s;
}
.slider .item:nth-child(2) button {
  animation-delay: 0.6s;
}

@keyframes show-content {
  from {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  gap: 20px;
}

.nav .btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.nav .btn:hover {
  background-color: #fff;
}