.login-container{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: fit-content;
    padding: 2rem;
    background-color: antiquewhite;
    border: solid black 2px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap:2.5rem;
}

.ini{
    font-size: 24px;
    font-weight: bold;
    padding:0;
    margin:0;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:1.2rem; 
    align-items: center;
}

.login-input{
    width: 70%;
    padding: 0.5rem;
    font-size: 16px;
    border: solid black 2px;
    border-radius: 24px;
    padding-left: 1rem;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.6rem 1.6rem;
    background-color: white;
    border: solid black 2px;
    border-radius: 24px;
}

.login-button:hover{
    background-color: rgb(70, 69, 69);
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

.two-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.register-part{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.4rem 1rem;
    background-color: white;
    border: solid black 2px;
    border-radius: 24px;
}


.register-button:hover{
    transition: 0.5s ease;
    background-color: rgb(70, 69, 69);
    color: white;
    cursor: pointer;
}